.navbar-brand {
  color:rgba(255,255,0,.8) !important;
}

.item img {
  margin: auto;
  border-radius: 15px;
}
.carousel-indicators {
  border-bottom: 2px dashed #222;
  bottom:0;
}
.carousel-indicators li {
  border-color: #222;
}
.carousel-indicators .active {
  background-color: #222;
}
 body {
   background-color:#fcf2df;
   margin-bottom: 100px;
   background-image: url('http://lorempixel.com/1200/100');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center bottom;
 }
.bg-scroll {
  background: red ;
  height:100%;
  width: 10%;
  animation: .4s linear 0s 300 alternate move_eye;
}
@keyframes move_eye { from { margin-left: -10%; } to { margin-left:100%; } }
